In [50]:
!pip3 install pandas
!pip3 install numpy
!pip3 install matplotlib
!pip3 install seaborn
!pip install scikit-learn

Requirement already satisfied: pandas in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (2.2.5)
Requirement already satisfied: matplotlib in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.5)
Requirement already satisfied: pandas>=1.2 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp312-cp312-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.2.5)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp312-cp312-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.1 MB 11.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.1 MB 11.9 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.1 MB 11.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.4/11.1 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 11.0 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.2-cp312-cp312-win_amd64.whl (40.9 MB)
   ---------------------------------------- 0.0/40.9 MB ? eta -:--:--
   -- ------------------------------------- 2.4/40.9 MB 12.2 MB/s eta 0:00:04
   ---- ----------------------------------- 4.5/40.9 MB 12.2 MB/s eta 0:00:03
   ------ --------------------------------- 7.1/40.9 MB 11.8 MB/s eta 0:00:03
   --------- ------------------------------ 9.4/40.9 MB 11.5 MB/s eta 0:00:03
   ----------- ---------------------------- 11.5/40.9 MB 11.5 MB/s eta 0:00:03
   ------------- -------------------------- 13.4/40.9 MB 10.6 MB/s eta 0:00:03
   -------------- ------------------------- 14.7/40.9 MB 10.0 MB/s eta 0:00:03
   --------------- ------------------------ 16.0/40.9 MB 9.6 MB/s eta 0:00:03
   ----------------- ---------------------- 17.6/40.9 MB 9.4 MB/s eta 0:00:03
   ------------------ --------------------- 19.4/40.9 MB 9.3 MB/s eta 0:00:03
   -------------------- ------------------- 21.2/40.9 MB 9.3 MB/s eta 0:00:03
   ---------------------- ----------------- 23.3/40.9 MB 9.3 MB/s eta 0:00:02
   ------------------------ --------------- 24.9/40.9 MB 9.2 MB/s eta 0:00:02
   -------------------------- ------------- 27.3/40.9 MB 9.3 MB/s eta 0:00:02
   ---------------------------- ----------- 29.4/40.9 MB 9.4 MB/s eta 0:00:02
   ------------------------------ --------- 31.2/40.9 MB 9.3 MB/s eta 0:00:02
   -------------------------------- ------- 33.3/40.9 MB 9.4 MB/s eta 0:00:01
   ---------------------------------- ----- 35.4/40.9 MB 9.4 MB/s eta 0:00:01
   ------------------------------------ --- 37.7/40.9 MB 9.5 MB/s eta 0:00:01
   -------------------------------------- - 39.8/40.9 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------  40.9/40.9 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------- 40.9/40.9 MB 9.2 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
import numpy as np
import random
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
csv_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(csv_url, header = None)
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
iris = pd.read_csv(csv_url, names = col_names)

In [9]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
iris.tail(n=8)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [15]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [16]:
iris.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [17]:
iris.shape

(150, 5)

In [18]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [19]:
iris.columns.values

array(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'], dtype=object)

In [22]:
iris.describe(include='all')

        Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

In [23]:
iris.info

<bound method DataFrame.info of      Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [25]:
iris['Sepal_Width']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: Sepal_Width, Length: 150, dtype: float64

In [29]:
iris.sort_index(axis = 1, ascending = False)

            Species  Sepal_Width  Sepal_Length  Petal_Width  Petal_Length
0       Iris-setosa          3.5           5.1          0.2           1.4
1       Iris-setosa          3.0           4.9          0.2           1.4
2       Iris-setosa          3.2           4.7          0.2           1.3
3       Iris-setosa          3.1           4.6          0.2           1.5
4       Iris-setosa          3.6           5.0          0.2           1.4
..              ...          ...           ...          ...           ...
145  Iris-virginica          3.0           6.7          2.3           5.2
146  Iris-virginica          2.5           6.3          1.9           5.0
147  Iris-virginica          3.0           6.5          2.0           5.2
148  Iris-virginica          3.4           6.2          2.3           5.4
149  Iris-virginica          3.0           5.9          1.8           5.1

[150 rows x 5 columns]

In [30]:
iris.sort_index(axis = 0, ascending = False)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
149           5.9          3.0           5.1          1.8  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
..            ...          ...           ...          ...             ...
4             5.0          3.6           1.4          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
0             5.1          3.5           1.4          0.2     Iris-setosa

[150 rows x 5 columns]

In [33]:
iris.sort_values(by = 'Sepal_Width', ascending = False)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width          Species
15            5.7          4.4           1.5          0.4      Iris-setosa
33            5.5          4.2           1.4          0.2      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
14            5.8          4.0           1.2          0.2      Iris-setosa
5             5.4          3.9           1.7          0.4      Iris-setosa
..            ...          ...           ...          ...              ...
53            5.5          2.3           4.0          1.3  Iris-versicolor
62            6.0          2.2           4.0          1.0  Iris-versicolor
68            6.2          2.2           4.5          1.5  Iris-versicolor
119           6.0          2.2           5.0          1.5   Iris-virginica
60            5.0          2.0           3.5          1.0  Iris-versicolor

[150 rows x 5 columns]

In [35]:
iris.iloc[60]

Sepal_Length                5.0
Sepal_Width                 2.0
Petal_Length                3.5
Petal_Width                 1.0
Species         Iris-versicolor
Name: 60, dtype: object

In [38]:
iris[60:69]

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width          Species
60           5.0          2.0           3.5          1.0  Iris-versicolor
61           5.9          3.0           4.2          1.5  Iris-versicolor
62           6.0          2.2           4.0          1.0  Iris-versicolor
63           6.1          2.9           4.7          1.4  Iris-versicolor
64           5.6          2.9           3.6          1.3  Iris-versicolor
65           6.7          3.1           4.4          1.4  Iris-versicolor
66           5.6          3.0           4.5          1.5  Iris-versicolor
67           5.8          2.7           4.1          1.0  Iris-versicolor
68           6.2          2.2           4.5          1.5  Iris-versicolor

In [40]:
    iris.loc[:, ["Petal_Length", "Sepal_Length"]]

     Petal_Length  Sepal_Length
0             1.4           5.1
1             1.4           4.9
2             1.3           4.7
3             1.5           4.6
4             1.4           5.0
..            ...           ...
145           5.2           6.7
146           5.0           6.3
147           5.2           6.5
148           5.4           6.2
149           5.1           5.9

[150 rows x 2 columns]

In [43]:
iris.loc[60, 'Petal_Length']

np.float64(3.5)

In [44]:
iris.isnull()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [45]:
iris.isnull().any()

Sepal_Length    False
Sepal_Width     False
Petal_Length    False
Petal_Width     False
Species         False
dtype: bool

In [46]:
iris.isnull().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [47]:
iris.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
145    0
146    0
147    0
148    0
149    0
Length: 150, dtype: int64

In [48]:
iris.Sepal_Length.isnull().sum()

np.int64(0)

In [51]:
from sklearn import preprocessing

In [52]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [56]:
df = iris.copy()

In [57]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [58]:
min_max_scaler = preprocessing.MinMaxScaler()

In [59]:
x = df.iloc[:, :4]

In [61]:
x.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [63]:
x_scaled = min_max_scaler.fit_transform(x)
df_normalised = pd.DataFrame(x_scaled, columns = x.columns)
df_normalised

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0        0.222222     0.625000      0.067797     0.041667
1        0.166667     0.416667      0.067797     0.041667
2        0.111111     0.500000      0.050847     0.041667
3        0.083333     0.458333      0.084746     0.041667
4        0.194444     0.666667      0.067797     0.041667
..            ...          ...           ...          ...
145      0.666667     0.416667      0.711864     0.916667
146      0.555556     0.208333      0.677966     0.750000
147      0.611111     0.416667      0.711864     0.791667
148      0.527778     0.583333      0.745763     0.916667
149      0.444444     0.416667      0.694915     0.708333

[150 rows x 4 columns]

In [107]:
iris['Species'].unique()

array([0, 1, 2])

In [108]:
label_encoder = preprocessing.LabelEncoder()

In [109]:
iris['Species'] = label_encoder.fit_transform(iris['Species'])

In [110]:
iris['Species'].unique()

array([0, 1, 2])

In [111]:
label_encoder.classes_

array([0, 1, 2])

In [112]:
iris['Species'] = label_encoder.inverse_transform(iris['Species'])

In [88]:
features_df=iris.drop(columns=['Species'])
enc = preprocessing.OneHotEncoder()
enc_df=pd.DataFrame(enc.fit_transform(iris[['Species']]).toarray())
df_encode = features_df.join(enc_df)
df_encode.rename(columns = {0:'Iris-Setosa', 1:'Iris-Versicolor',2:'Iris-virginica'}, inplace = True)
df_encode

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Iris-Setosa,Iris-Versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,0.0,0.0,1.0

In [89]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [90]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [113]:
iris['Species'].unique()

array([0, 1, 2])